@import "./rose-pine.css";
* {
  font-family: "Cascadian Cove";
  font-size: 14px;
  font-weight: 600;
  background: none;
}

window#waybar {
  color: @text;
  border: solid;
  border-color: @love;
  border-width: 2px;
  border-radius: 6px;
  background: @base;
  /* padding: 12px; */
}
/* .modules-left, */
/* .modules-right, */
/* .modules-center { */
/*   border: solid; */
/*   border-color: @love; */
/*   border-width: 2px; */
/*   border-radius: 6px; */
/*   background: @base; */
/*   padding: 12px 0; */
/* } */
tooltip {
  color: @text;
  background-color: @base;
  text-shadow: none;
}

tooltip * {
  color: @text;
  text-shadow: none;
}

/* .modules-center { */
/* } */

#custom-sep {
  color: @rose;
}

/* #workspaces, */
/* #clock, */
/* #custom-bluetooth_devices, */
/* #custom-powermenu, */
/* #pulseaudio, */
/* #tray { */
/* } */
/* #workspaces { */
/* } */
/* #workspaces button { */
/*   padding: 0; */
/*   min-width: 0; */
/*   font-size: 10px; */
/*   background: none; */
/*   color: @text; */
/* } */
#workspaces {

}

#workspaces button {
  min-width: 30px;
  min-height: 30px;
  padding: 0;
  margin: 2px 0;
  font-size: 12px;
  padding-right: 4px;
}
#workspaces button:hover {
  color: @rose;
}
#workspaces button.active {
  color: @love;
}
#temperature {
  color: @gold;
  font-size: 28px;
}
#clock {
  font-weight: 800;
  font-size: 17;
  color: @iris;
}
/* #custom-bluetooth_devices { */
/*   color: @pine; */
/* } */
#pulseaudio {
  color: @foam;
  font-size: 19px;
  padding-right: 7px;
}
#pulseaudio.muted {
  color: @love;
}

#custom-powermenu {
  margin: 0 0 0 0;
  color: @overlay;
}
