spawn-at-startup "mako"
spawn-at-startup "waybar"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "syncthing --no-browser"
// spawn-at-startup "wpaperd"

environment {
    DISPLAY ":0"
}

input {
    keyboard {
        xkb {
            model "abnt2"
            layout "br"
            options "caps:swapescape, altwin:swap_alt_win"
        }
    }

    touchpad {
        natural-scroll
        accel-speed 0.8
        accel-profile "flat"
        scroll-method "edge"
    }
}

output "Samsung Electric Company S24D332 0x59325956" {
    mode "1920x1080@74.973"
    position x=0 y=0
}

output "PNP(AOC) AOC LCD 0x01010101" {
    mode "1360x768@59.799"
    position x=1920 y=0
}

layout {
    gaps 8
    center-focused-column "never"

    // Mod+R
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        width 2
        active-color "#eb6f92"
        inactive-color "#c4a7e7"
    }

    border {
        off
    }
    shadow {
      on
      softness 14
      spread 1
      offset x=10 y=10
    }

}

hotkey-overlay {
    skip-at-startup
}

overview {
    backdrop-color "#191724"
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

window-rule {
  match is-focused=true

  shadow {
    color "#eb6f92"
    softness 12
    spread 1
    offset x=0 y=0
  }
}

// Shadows for Fuzzel
layer-rule {
    match namespace="^launcher$"
    
  shadow {
    on
    color "#eb6f92"
    softness 12
    spread 1
    offset x=0 y=0
  }

    geometry-corner-radius 2
}

window-rule {
  match app-id="zen"
  match app-id="obsidian"

  open-maximized true

}


binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T { spawn "kitty"; }
    Mod+F { spawn "zen-browser"; }
    Mod+D hotkey-overlay-title="Spawn Fuzzel" { spawn "fuzzel"; }
    Mod+E hotkey-overlay-title="Spawn Yazi"{ spawn "kitty" "fish" "-C yy"; }
    Mod+N { spawn "kitty" "nvim"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioPrev        allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86AudioNext        allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPlay       allow-when-locked=true { spawn "playerctl" "play-pause"; }

    Mod+Q { close-window; }

    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+Tab { focus-workspace-previous; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Space { maximize-column; }
    Mod+Shift+Space { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }


    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}
