layout {

    focus-ring {
        active-color   "#eb6f92"
        inactive-color "#191724"
        urgent-color   "#ea6e70"
    }

    border {
        active-color   "#eb6f92"
        inactive-color "#191724"
        urgent-color   "#ea6e70"
    }

    shadow {
        color "#19172470"
    }

    tab-indicator {
        active-color   "#eb6f92"
        inactive-color "#a00833"
        urgent-color   "#ea6e70"
    }

    insert-hint {
        color "#eb6f9280"
    }
}

recent-windows {
    highlight {
        active-color "#eb6f92"
        urgent-color "#ea6e70"
    }
}
